body {
	background-color: #F5F5F5;
	width: 2020px;
}

*{
	margin: 0;
}

.header {
	height: 65px;
	background-color: #4482FF;
	resize: none;
}

.container {
	width: 100%;
	height: auto;

	/* add flexbox style */
	padding-left: 5px;
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
	flex-flow: wrap; 
}

.rectangle {
	width: 480px;
	height: 700px;
	margin: 15px;
	/*padding-right: 200px;  */
	/*box-sizing: border-box;*/
	border: 1px solid #FFFFFF;
	/*border-radius: 1px;*/
	background-color: #FFFFFF;
	/*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);*/
}

.rectangle55 {
  height: 135px;
  width: 2020px;
  background-color: #3E75E6;
}

.stacked-group-2 {
  height: 75px;
  width: 90px;
  padding-left: 10px;
}

.stacked-group-3 {
  padding-left: 1px;
}

.detail-pasien {
  height: 23px;
  width: 500px;
  color: #FFFFFF;
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  padding-left: 30px;
  letter-spacing: 1.2px;
  line-height: 60px;
}

.avatar-placeholder {
  padding-left: 850px;
  padding-top: 10px;
}

.back {
  height: 20px;
  width: 81px;
  color: #FFFFFF;
  font-family: arial;
  font-size: 14px; 
  font-weight: bold;
  line-height: 60px;
  padding-top: 21px;
  padding-right: 7px;
  padding-left: 1px;
  text-decoration: none;
}

.assesment-keperawatan {
   height: 20px;
  width: 99px;
  color: #C2C0C0;
  font-family: arial;
  font-size: 14px;
  line-height: 60px;
  padding-top: 22px;
  padding-right: 7px;
  padding-left: 1px;
  text-decoration: none;
}

.rencana-asuhan-keper {
  height: 20px;
  width: 99px;
  color: #C2C0C0;
  font-family: arial;
  font-size: 14px;
  line-height: 60px;
  padding-top: 22px;
  padding-right: 7px;
  padding-left: 1px;
  text-decoration: none;
}

.assesment-kebutuhan {
  height: 20px;
  width: 81px;
  color: #FFFFFF;
  font-family: arial;
  font-size: 14px; 
  font-weight: bold;
  line-height: 60px;
  padding-top: 21px;
  padding-right: 7px;
  padding-left: 1px;
  text-decoration: none;
}

.catatan-integrated-n {
  height: 20px;
  width: 99px;
  color: #C2C0C0;
  font-family: arial;
  font-size: 14px;
  line-height: 60px;
  padding-top: 22px;
  padding-right: 7px;
  padding-left: 1px;
  text-decoration: none;
}

.observasi-harian {
  height: 20px;
  width: 99px;
  color: #C2C0C0;
  font-family: arial;
  font-size: 14px;
  line-height: 60px;
  padding-top: 22px;
  padding-right: 7px;
  padding-left: 1px;
  text-decoration: none;
}

.daftar-terapi-obat {
  height: 20px;
  width: 99px;
  color: #C2C0C0;
  font-family: arial;
  font-size: 14px;
  line-height: 60px;
  padding-top: 22px;
  padding-right: 7px;
  padding-left: 1px;
  text-decoration: none;
}

.pasien-journey {
  height: 20px;
  width: 99px;
  color: #C2C0C0;
  font-family: arial;
  font-size: 14px;
  line-height: 60px;
  padding-top: 22px;
  padding-right: 5px;
  padding-left: 1px;
  text-decoration: none;
}


.rectangle999 {
	width: 800px;
	height: 700px;
	margin: 15px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	/*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);*/
}

/*.simpan {
  height: 40px; 
  width: 65px;
}
*/
.simpan9 {
  height: 35px; 
  width: 85px;
}

.simpan1 {
  height: 40px; 
  width: 200px;
  color:  #FFFFFF;
  background-color: #4358CE;
}

.simpan2 {
  height: 40px; 
  width: 200px;
  border: 1px solid #CE4343;
  border-radius: 4px;
  color: #CE4343;
  background-color: #FFFFFF;
}

.assesment-keperawata2 {
  height: 20px;
  width: 99px;
  color: #C2C0C0;
  font-family: arial;
  font-size: 18px;
  line-height: 60px;
  padding-top: 22px;
  padding-right: 7px;
  padding-left: 0,20px;
  text-decoration: none;
}

.rencana-asuhan-keper2 {
  height: 20px;
  width: 99px;
  color: #3E75E6;
  font-family: arial;
  font-size: 18px;
  line-height: 60px;
  padding-top: 22px;
  padding-right: 7px;
  padding-left: 1px;
  text-decoration: none;
}

.rectangless {
  box-sizing: border-box;
  height: 37px;
  width: 392px;
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.h1234 {
  font-family: "Poppins SemiBold";
  font-size: 20px;
  padding-left: 50px; 
}

.one {
  color: #323C47;
  font-family: arial;
  font-size: 18px;
  line-height: 30px;
  padding-right: 7px;
  padding-left: 1px;
  text-decoration: none;
  word-spacing: 10px;
}

.two {
  color: #323C47;
  font-family: arial;
  font-size: 18px;
  line-height: 30px;
  padding-right: 7px;
  padding-left: 1px;
  text-decoration: none;
  word-spacing: 10px;
}


.three {
  color: #323C47;
  font-family: arial;
  font-size: 18px;
  line-height: 30px;
  padding-right: 7px;
  padding-left: 1px;
  text-decoration: none;
  word-spacing: 10px; 
}

.four {
  color: #323C47;
  font-family: arial;
  font-size: 18px;
  line-height: 30px;
  padding-right: 7px;
  text-decoration: none;
  word-spacing: 10px; 
}
.five {
  color: #323C47;
  font-family: arial;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  word-spacing: 5px; 
}
.six {
  color: #323C47;
  font-family: arial;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  word-spacing: 3px;  
}

.simpan {
  height: 30px; 
  width: 70px;
}

.simpan1 {
  height: 40px; 
  width: 200px;
  color:  #FFFFFF;
  background-color: #4358CE;
}

.simpan2 {
  height: 40px; 
  width: 200px;
  border: 1px solid #CE4343;
  border-radius: 4px;
  color: #CE4343;
  background-color: #FFFFFF;
}

.rectangle99 {
  height: 400px;  
  width: 585px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.h244 {
  font-family: arial;
  font-size: 15px;
  padding-left: 10px; 
}

.h245 {
  font-family: arial;
  font-size: 16px;
}

.h246 {
  font-family: arial;
  font-size: 20px;
}

.line100 {
  box-sizing: border-box;
  height: 2px;
  width: 481px;
  border: 2px solid #EDF0F9;
}

.line200 {
  box-sizing: border-box;
  height: 2px;
  width: 441px;
  border: 2px solid #EDF0F9;
}

.rectangle07 {
  padding-top: 20px;
  height: 40px;
  width: 481px;
  border-radius: 4px;
  background-color: #FAFAFA;
}

.stacked-group-4 {
  height: 50px;
  width: 140px;
  padding-left: 300px;
}

.footer {
  height: 50px;
  width: 1500px;
  font-family: arial;
  background-color: #F8F8FF;
  color: #535353;
  line-height: 55px;
  padding-right: 100px;
  padding-left: 465px;
}

.rectangle1 {
	width: 1840px;
	height: 568px;
	margin: 25px; 
	box-sizing: border-box;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
}

.header-copy {
  height: 60px;
  width: 2020px;
  padding-left: -10px;
  background-color: #2F57A7;
}
